.content .location{
    background: none;
    padding-left:23px ;
}
.content .location p{
	font-family: "宋体";
	font-size:14px;
	color: #666666;
	margin-top: 0;
	padding-left: 20px;
	letter-spacing: 0;
}
.content .location {
    padding: 17px 0 18px 16px;
}
.content .location span{
	color: #666666;
}
.content .location a{
	text-decoration: none;
	color: #666666;
}
.content .shop_tittle{
	clear:both;
	overflow: hidden;
    width: 100%;
}
.content .shop_tittle ul{
	width: 100%;
	clear:both;
	overflow: hidden;
	
}
.content .shop_tittle ul li{
	width: 165px;
	background: #e6e6e6;
    font-family: "微软雅黑";
    float: left;
    text-align: center;
    height: 35px;
}
.content .shop_tittle ul li:last-child a{
	text-align: center;
	text-decoration: none;
	font-family: "微软雅黑";
}
.content .shop_tittle li .centre:before,.shop_tittle li .next:before{
	content: '';
	border: 23px solid;
	width: 0;
	height: 0;
	float: left;
	border-color: transparent transparent transparent #FFFFFF;
	margin-left: 6px;
    margin-top: -5px;
}
.content .shop_tittle li .centre:after,.shop_tittle li .prev:after{
content: '';
border: 24px solid;
width: 0;
height: 0;
float: right;
margin-right: -34px;
margin-top: -6px;
position: relative;
z-index: 2;
border-color: transparent transparent transparent #e6e6e6;
}
.content .shop_tittle li .centre{
display: block;
width: 179px;
height: 35px;
text-decoration: none;
font-family: "微软雅黑";
font-size: 14px;
color: #666666;
line-height: 35px;
text-align: center;
background: #e6e6e6;

}
.prev,.next{
display: block;
width:179px;
height: 35px;
text-decoration: none;
font-family: "微软雅黑";
font-size: 14px;
color: #666666;
line-height: 35px;
text-align: center;
background: #e6e6e6;
}
.prev:hover{
	text-decoration: none;
	color: #666666;
}
.next{
	font-weight: bold;
}
.content .shop_tittle li .on{
color: #FFFFFF;
background: #cc6633;
}
.content .shop_tittle li .prev{
	text-decoration: none;
}
.content .succed{
	width: 100%;
	clear: both;
	overflow: hidden;
	text-align: center;
	margin-top: 12px;
	border: 1px solid #cc9966;
	background: #ffece3;
	margin-bottom: 15px;
}
.content .succed img{
	padding-top:21px;
}
.content .succed h1{
	font-family: "微软雅黑";
	font-size: 48px;
	color: #CC6633;
	margin-top: 26px;
	font-weight: normal;
	margin-bottom: 55px;
}
.content table{
	width: 100%;
	font-family: "微软雅黑";
	border-bottom: 1px solid #999999;
	text-align: center;
	table-layout:fixed;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.content thead{
	border-bottom: 1px solid #999999;
	width: 100%;
	color: #666666;
	height: 36px;
}
.content thead th{
	font-size: 18px;
	font-weight: normal;
	line-height: 36px;
	table-layout:fixed;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.content thead th:last-child{
	text-align: center;
}
.content table td{
	table-layout:fixed;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.content th:first-child{
	padding-left: 62px;
	width: 42.1%;
}
.content th:nth-child(4) {
    width: 13%;
}
.content table tbody .goods{
	padding-top: 23px;
}
.content table tbody .goods img{
	display: block;
	float: left;
	margin-bottom: 15px;
}
.content table tbody .goods .goods_text{
	float: left;
}
.content table tbody .goods p a{

	float: left;
	font-size: 16px;
	color: #CC6633;
	font-weight: normal;
	padding-top: 28px;
	letter-spacing: 3px;
	text-decoration: none;
	
}
.content table tbody .goods p{
	float: left;
	font-size: 12px;
	color: #666666;
	margin-left: 15px;
}
.content table tbody .goods p span{
	padding-left: 35px;
}
.content table .count .add,
 .reduce{
	height: 20px;
	width: 17px;
	border: 1px solid #bababa;
	color: #666666;
	text-align: center;
	line-height: 18px;
	display: block;
	float: left;
	margin-right: -1px;
	cursor: pointer;
	background: #e6e6e6;
}
.content .count .count-input{
	float: left;
	width: 22px;
	height: 20px;
	text-align: center;
	border: 1px solid #bababa;
	line-height: 15px;
	outline: none;
}
.content table .dropdown .trangle{
	width: 24px;
    height: 20px;
    background: #cc6633;
    position: absolute;
    right: 0;
    top: 0%;
}
.content table .dropdown{
	width: 100%;
}
.content table .dropdown-menu > li > a {
    padding: 3px 10px;
}
.content table .open > .dropdown-menu{
	margin-left: 18%;
	min-width: 65%;
	border-radius: 0;
	margin-top: 0;
	text-align: center;
}
.content table .dropdown span i{
	width: 0;
	height: 0;
	display: block;
	border: 7px solid #8a3e26;
	border-color:#FFFFFF transparent transparent transparent;
	margin-top: 8px;
    margin-left: 6px;
}
.content .dropdown .btn{
	position: relative;
}
.content table button{
	border-color: #cc6633;
	width: 65%;
	background: #FFFFFF;
	border-radius: 0;
	padding:0 0 0 0;
	text-align: left;
	padding-left: 11%;
}
.content p{
	font-family: "微软雅黑";
	font-size: 18px;
	color:#666666;
	padding-left: 9px;
	margin-top:18px;
	letter-spacing: 3px;
}
.content p span{
	font-family: "宋体";
}
.content .pay_once{
	float: right;
	background: #CC6633;
	color: #FFFFFF;
	height: 40px;
	width: 11.833%;
	border: none;
	font-family: "微软雅黑";
	font-size: 18px;
	margin-right: 40px;
	margin-top: 40px;
	padding: 0;
	text-align: center;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
}
.content .pay_once a{
	color: #FFFFFF;
	text-decoration: none;
}
.footer{
	margin-top: 100px;
}


@media only screen and (max-width: 1200px) {
    .content table tbody .goods p a {
    	letter-spacing: 0;
    }
    .content table th{
    	font-size: 12px;
    }
    .content table button {
    	padding-left: 4px;
	}
	.content table tbody .goods p {
    margin-left: 0px;
	}
}
@media only screen and (max-width: 992px) {
	.container{
		width: 100%;
	}
	.content thead th:first-child {
    	width: 100px;
	}
	.content table tbody .goods p a {
		padding-top: 0;
	}
	.open > .dropdown-menu {
    	min-width: 65%;
    }
    .content button{
    	width: 65%;
    }
    .content table tbody .goods p span {
     	padding-left: 0px; 
     	display: block;
    }
    .content table tbody .goods {
		table-layout:fixed;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.content table tbody .goods img {
    	float: none;
	}
	.content table tbody .goods .goods_text {
    	float: none;
    	table-layout:fixed;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.content table tbody .goods p {
    	float: none;
    	margin-left: 0px;
    	table-layout:fixed;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.content table tbody .goods p a {
    	float: none;
    	table-layout:fixed;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
    }
    .content table tbody .goods p a {
		padding-top: 0;
	}
    .content .location {
    	padding: 25px 0 18px 16px;
	}
	.content table tbody .goods img {
     	margin-bottom: 0px; 
	}
	.content table p {
		margin-top: 0;
	}
}
}
@media  (min-width: 551px ) and (max-width: 655px){
	.content th:nth-child(2) {
    	padding-left: 18px;
    	width: 33.1%;
	}
}
@media only screen and (max-width: 768px) {
	.content .shop_tittle ul {
    	width:100%;
    }
    .content .shop_tittle ul li {
    	width: 25%;
    }
    .content .shop_tittle ul li:first-child i{
    	right: -21.0%;
    }
    .content .shop_tittle ul li:nth-child(1) span {
    	right: -11.0%;
	}
	
}
@media only screen and (max-width: 500px) {
	.open > .dropdown-menu {
    	margin-left: 0px;
    	min-width: 57%;
    }
    .content button {
   		 width: 58%;
	}
}
@media only screen and (max-width: 768px) {
	.content button {
    	width: 44%;
    	padding-left: 13%;
	}
	.open > .dropdown-menu {
    	margin-left: 0px;
    	min-width: 44%;
    }
    .content table button{
		width: 100%;
		padding-left: 13%;
	}
}

@media (min-width: 320px) and (max-width: 570px) {
	.content .way_dir{
		clear: both;
		margin-top: 15px;
	}
	.content .submit_goods .form-control {
    	width: 60%;
	}
	.content .submit_goods {
		padding-left: 20px;
	}
	.content button {
    	width: 95%;
    	margin-left: 5px;
    }
	.open > .dropdown-menu {
		min-width: 95%;
		margin-left: 5px;
	}
	.content table tbody .goods p{
		margin-left: 0;
		font-size: 12px;
	}
	.content th:first-child {
    	padding-left: 9.41%;
    	width: 30.1%;
	}
    
}

@media only screen and (max-width: 700px) {
	.content .pay_once {
		width: 18.83%;
	}
}

@media only screen and (max-width: 430px) {
	.content .pay_once {
		width: 29.83%;
	}
}
@media only screen and  (max-width: 700px) {
	.content .shop_tittle ul li{
		float: none;
		margin-top: 10px;
	}
	.content .shop_tittle li .centre:before, .shop_tittle li .next:before {
	    content: '';
	    border: 23px solid;
	    width: 0;
	    height: 0;
	    float: left;
	    border-color: transparent transparent transparent #FFFFFF;
	    margin-left: -7px;
	    margin-top: -5px;
	}
	.content .shop_tittle li .centre:after, .shop_tittle li .prev:after {
	    content: '';
	    border: 18px solid;
	    width: 0;
	    height: 0;
	    float: right;
	    margin-right: -35px;
	    margin-top: 0px;
	    position: relative;
	    z-index: 2;
	    border-color: transparent transparent transparent #e6e6e6;
	}
	.content .shop_tittle li .on:after {
	    content: '';
	    border: 17px solid;
	    width: 0;
	    height: 0;
	    float: right;
	    margin-right: -34px;
	    margin-top: 0px;
	    position: relative;
	    z-index: 2;
	    border-color: transparent transparent transparent #cc6633;
	}
	.content .shop_tittle li .centre:hover:after,.shop_tittle li .prev:hover:after{
		content: '';
		border: 17px solid;
		width: 0;
		height: 0;
		float: right;
		margin-right: -34px;
		margin-top: 0px;
		position: relative;
		z-index: 2;
		border-color: transparent transparent transparent #cc6633;
	}
}
@media only screen and (max-width: 350px) {
	.content table .count .add, .reduce {
    	height: 20px;
    	width: 12px;
    }
}